html,body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.buisness-main{
  height:100vh;
  display:grid;
  grid-template-areas:
  "left center center center right"
  "left center center center right"
  "footer footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.57fr;
  /* grid-template-areas: "Bstats story story"
  "Bstats Cstats Cstats";; */
  gap: 0px;
  
}
.buisness-main > * {
  margin:0px;
  border-radius:0px;
}
#left{
  grid-area: left;
}

#center{
  grid-area: center;
}

#right{
  grid-area: right;
}

#footer{
  grid-area: footer;
  height: 10vh;
}