html,body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.buisness-main{
  height:100vh;
  display:grid;
  grid-template-areas:
  "left center center center right"
  "left center center center right"
  "footer footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.57fr;
  /* grid-template-areas: "Bstats story story"
  "Bstats Cstats Cstats";; */
  gap: 0px;
  
}
.buisness-main > * {
  margin:0px;
  border-radius:0px;
}
#left{
  grid-area: left;
}

#center{
  grid-area: center;
  padding: 0px;
  margin-top: 0px;
}

#right{
  grid-area: right;
}

#footer{
  grid-area: footer;
  height: 10vh;
}

#main-top{
  display: flex;
  align-items: center;
  justify-content: left;
  padding:10px;
  padding-top:0px; 
  margin-top:0px;
  background-color: var(--black);
  color: var(--white);
}

#main-top button{
  background-color: var(--white);
  color: var(--black);
  border: black double ;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  overflow:hidden;
  margin-right: 15px;
  height: 130px;
  writing-mode:vertical-rl;
}

.inner{
  border: 5px solid white;
  margin:10px;
  overflow-x:hidden;
  overflow-y:auto;
}

.scrollable-hidden-bar::-webkit-scrollbar {
  display: none;
}

.member-card{
  background: var(--black);
  border: 2px solid var(--white);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}